* {
    margin: 0;
    padding: 0px;
    list-style: none;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}

.mainMenu {
    margin: 0 auto;
    background-color: salmon;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productType {
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}