* {
    margin: 0;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 20px;
}

.dark-theme h1 {
    color: #f2f6f3;
}

h2 {
    padding: 10px 10px;
}

.dark-theme h2 {
    color: #f2f6f3;
}

span {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 20px;
    color: black
}

.dark-theme p {
    color: #f2f6f3;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background-color: salmon;
    position: sticky;
    top: 0;
    height: 46px;
    align-items: center;
    z-index: 1;
}

.dark-theme .main-menu {
    background-color: rgba(38, 38, 69, 0.968);
}

.right-side {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-type {
    padding: 10px;
    font-weight: 900;
}

.product-type :hover {
    text-decoration: underline;
color: rgb(12, 12, 81);
transform: translateY(-0.9px);

}

.product-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rackets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
   
}

.sneakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  
}

.bags {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 330px;
    padding: 10px;
    border: 1px solid salmon;
    background: #f2f6f3;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out;
    margin: 10px 10px;
    }

    .dark-theme .item {
        background: rgba(127, 127, 208, 0.968);
        border: 0;
    }

.item:hover {
    
        box-shadow: 0px 20px 30px rgba(250, 128, 114, 0.5);
        transform: translateY(-5px);
    }
    .dark-theme .item:hover {
        box-shadow: none;
                transform: translateY(-5px);
    }


.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.hidden {
    display: none;
}

.item-img {
    width: 170px;
    height: 230px;
    border-radius: 40px;
}

.item-name {
    font-size: 17px;
    min-height: 45px;
}

.item-date {
    color: rgb(0, 0, 0);
}

.buy-btn {
    border: 0;
    background-color: salmon;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
}

.dark-theme .buy-btn {
    border: 0;
    background-color: rgba(38, 38, 69, 0.968);
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
}


.buy-btn:hover{

   background-color:  darksalmon;
   cursor: pointer;
   
}

.close-btn {
    width: 60px;
    height: 25px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.cart-box {
    z-index: 1;
    padding: 30px;
    background-color: white;
    max-width: 400px;
}

.open {
    visibility: visible;
}

.hidden {
    display: none;
}

.switch {
    appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset -15px 0px 0px 0px rgba(192, 192, 192, 1);
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    transition: 0.2s;
}

.switch:checked {
    box-shadow: inset 15px 0px 0px 0px rgba(12, 76, 128, 0.5);
    border: 1px solid rgba(33, 150, 243, 1);
}

.switch:focus {
    outline-width: 0;
}

.dark-theme {
    background-color: rgba(38, 38, 69, 0.968);
}

.icon {
    width: 20px;
    height: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: salmon
}

.change-color-field {
    display: flex;
    flex-direction: row;
}

.name-of-section {
    position: sticky;
    top: 46px;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 1;
}